<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f2917b">  <td>20/11/07 23:39:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FacebookLogin.facebookLoginFunctionality(java.lang.String, java.lang.String)[pri:0, instance:testcases.FacebookLogin@15e966b]">facebookLoginFunctionality</td> 
  <td>Test worker@1092304731</td>   <td></td> </tr>
<tr bgcolor="afccc4">  <td>20/11/07 23:42:03</td>   <td>148958</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FacebookProdLogin.facebookLoginFunctionality(java.lang.String, java.lang.String)[pri:0, instance:testcases.FacebookProdLogin@38d74180]">facebookLoginFunctionality</td> 
  <td>Test worker@1092304731</td>   <td></td> </tr>
<tr bgcolor="cf8da5">  <td>20/11/07 23:38:41</td>   <td>-53506</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleLogin.googleLoginFunctionality(java.lang.String, java.lang.String)[pri:0, instance:testcases.GoogleLogin@71e1d7c8]">googleLoginFunctionality</td> 
  <td>Test worker@1092304731</td>   <td></td> </tr>
<tr bgcolor="8e7d9b">  <td>20/11/07 23:40:25</td>   <td>50235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GmailProdLogin.googleLoginFunctionality(java.lang.String, java.lang.String)[pri:0, instance:testcases.GmailProdLogin@2ad7ce93]">googleLoginFunctionality</td> 
  <td>Test worker@1092304731</td>   <td></td> </tr>
<tr bgcolor="f47cb6">  <td>20/11/07 23:37:50</td>   <td>-104741</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.loginFunctionality(java.lang.String, java.lang.String)[pri:0, instance:testcases.Login@4c0b446b]">loginFunctionality</td> 
  <td>Test worker@1092304731</td>   <td></td> </tr>
<tr bgcolor="7575dd">  <td>20/11/07 23:41:15</td>   <td>100344</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginProd.loginFunctionality(java.lang.String, java.lang.String)[pri:0, instance:testcases.LoginProd@4a0c8de9]">loginFunctionality</td> 
  <td>Test worker@1092304731</td>   <td></td> </tr>
<tr bgcolor="cf8da5">  <td>20/11/07 23:38:22</td>   <td>-72166</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GoogleLogin.openBrowser()[pri:0, instance:testcases.GoogleLogin@71e1d7c8]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@1092304731</td>   <td></td> </tr>
<tr bgcolor="f2917b">  <td>20/11/07 23:39:16</td>   <td>-18832</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FacebookLogin.openBrowser()[pri:0, instance:testcases.FacebookLogin@15e966b]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@1092304731</td>   <td></td> </tr>
<tr bgcolor="8e7d9b">  <td>20/11/07 23:40:11</td>   <td>36948</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GmailProdLogin.openBrowser()[pri:0, instance:testcases.GmailProdLogin@2ad7ce93]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@1092304731</td>   <td></td> </tr>
<tr bgcolor="afccc4">  <td>20/11/07 23:41:49</td>   <td>134321</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FacebookProdLogin.openBrowser()[pri:0, instance:testcases.FacebookProdLogin@38d74180]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@1092304731</td>   <td></td> </tr>
<tr bgcolor="84a283">  <td>20/11/07 23:42:45</td>   <td>190757</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SyncWithFitbitDevice.openBrowser()[pri:0, instance:testcases.SyncWithFitbitDevice@45eb14c6]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@1092304731</td>   <td></td> </tr>
<tr bgcolor="7bae70">  <td>20/11/07 23:43:53</td>   <td>258370</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SyncWithGoogleFit.openBrowser()[pri:0, instance:testcases.SyncWithGoogleFit@6b3cdb4a]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@1092304731</td>   <td></td> </tr>
<tr bgcolor="8d7271">  <td>20/11/07 23:44:59</td>   <td>324724</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SyncWithMisfitDevice.openBrowser()[pri:0, instance:testcases.SyncWithMisfitDevice@6bc7c8b5]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@1092304731</td>   <td></td> </tr>
<tr bgcolor="ad8596">  <td>20/11/07 23:46:02</td>   <td>387254</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SyncWithStravaDevice.openBrowser()[pri:0, instance:testcases.SyncWithStravaDevice@6e28428]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@1092304731</td>   <td></td> </tr>
<tr bgcolor="b96cc6">  <td>20/11/07 23:47:15</td>   <td>460514</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SyncWithWithingsDevice.openBrowser()[pri:0, instance:testcases.SyncWithWithingsDevice@1bb2fd16]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@1092304731</td>   <td></td> </tr>
<tr bgcolor="f47cb6">  <td>20/11/07 23:37:28</td>   <td>-126159</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.openbrowser()[pri:0, instance:testcases.Login@4c0b446b]">&gt;&gt;openbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@1092304731</td>   <td></td> </tr>
<tr bgcolor="7575dd">  <td>20/11/07 23:40:59</td>   <td>84725</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginProd.openbrowser()[pri:0, instance:testcases.LoginProd@4a0c8de9]">&gt;&gt;openbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@1092304731</td>   <td></td> </tr>
<tr bgcolor="f47cb6">  <td>20/11/07 23:38:22</td>   <td>-72794</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Login.quitBrowser()[pri:0, instance:testcases.Login@4c0b446b]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@1092304731</td>   <td></td> </tr>
<tr bgcolor="cf8da5">  <td>20/11/07 23:39:15</td>   <td>-19599</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GoogleLogin.quitBrowser()[pri:0, instance:testcases.GoogleLogin@71e1d7c8]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@1092304731</td>   <td></td> </tr>
<tr bgcolor="f2917b">  <td>20/11/07 23:40:07</td>   <td>32506</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FacebookLogin.quitBrowser()[pri:0, instance:testcases.FacebookLogin@15e966b]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@1092304731</td>   <td></td> </tr>
<tr bgcolor="8e7d9b">  <td>20/11/07 23:40:59</td>   <td>84082</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GmailProdLogin.quitBrowser()[pri:0, instance:testcases.GmailProdLogin@2ad7ce93]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@1092304731</td>   <td></td> </tr>
<tr bgcolor="7575dd">  <td>20/11/07 23:41:48</td>   <td>133697</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginProd.quitBrowser()[pri:0, instance:testcases.LoginProd@4a0c8de9]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@1092304731</td>   <td></td> </tr>
<tr bgcolor="afccc4">  <td>20/11/07 23:42:41</td>   <td>186331</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FacebookProdLogin.quitBrowser()[pri:0, instance:testcases.FacebookProdLogin@38d74180]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@1092304731</td>   <td></td> </tr>
<tr bgcolor="84a283">  <td>20/11/07 23:43:52</td>   <td>257738</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SyncWithFitbitDevice.quitBrowser()[pri:0, instance:testcases.SyncWithFitbitDevice@45eb14c6]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@1092304731</td>   <td></td> </tr>
<tr bgcolor="7bae70">  <td>20/11/07 23:44:59</td>   <td>324076</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SyncWithGoogleFit.quitBrowser()[pri:0, instance:testcases.SyncWithGoogleFit@6b3cdb4a]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@1092304731</td>   <td></td> </tr>
<tr bgcolor="8d7271">  <td>20/11/07 23:46:01</td>   <td>386560</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SyncWithMisfitDevice.quitBrowser()[pri:0, instance:testcases.SyncWithMisfitDevice@6bc7c8b5]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@1092304731</td>   <td></td> </tr>
<tr bgcolor="ad8596">  <td>20/11/07 23:47:14</td>   <td>459857</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SyncWithStravaDevice.quitBrowser()[pri:0, instance:testcases.SyncWithStravaDevice@6e28428]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@1092304731</td>   <td></td> </tr>
<tr bgcolor="b96cc6">  <td>20/11/07 23:48:27</td>   <td>532905</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SyncWithWithingsDevice.quitBrowser()[pri:0, instance:testcases.SyncWithWithingsDevice@1bb2fd16]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@1092304731</td>   <td></td> </tr>
<tr bgcolor="84a283">  <td>20/11/07 23:43:04</td>   <td>209461</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SyncWithFitbitDevice.syncWithFitbitFunctionality(java.lang.String, java.lang.String)[pri:0, instance:testcases.SyncWithFitbitDevice@45eb14c6]">syncWithFitbitFunctionality</td> 
  <td>Test worker@1092304731</td>   <td></td> </tr>
<tr bgcolor="7bae70">  <td>20/11/07 23:44:12</td>   <td>277508</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SyncWithGoogleFit.syncWithGoogleFitFunctionality(java.lang.String, java.lang.String)[pri:0, instance:testcases.SyncWithGoogleFit@6b3cdb4a]">syncWithGoogleFitFunctionality</td> 
  <td>Test worker@1092304731</td>   <td></td> </tr>
<tr bgcolor="8d7271">  <td>20/11/07 23:45:19</td>   <td>344411</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SyncWithMisfitDevice.syncWithMisfitFunctionality(java.lang.String, java.lang.String)[pri:0, instance:testcases.SyncWithMisfitDevice@6bc7c8b5]">syncWithMisfitFunctionality</td> 
  <td>Test worker@1092304731</td>   <td></td> </tr>
<tr bgcolor="ad8596">  <td>20/11/07 23:46:21</td>   <td>406552</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SyncWithStravaDevice.syncWithStravaFunctionality(java.lang.String, java.lang.String)[pri:0, instance:testcases.SyncWithStravaDevice@6e28428]">syncWithStravaFunctionality</td> 
  <td>Test worker@1092304731</td>   <td></td> </tr>
<tr bgcolor="b96cc6">  <td>20/11/07 23:47:33</td>   <td>479039</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SyncWithWithingsDevice.syncWithWithingsFunctionality(java.lang.String, java.lang.String)[pri:0, instance:testcases.SyncWithWithingsDevice@1bb2fd16]">syncWithWithingsFunctionality</td> 
  <td>Test worker@1092304731</td>   <td></td> </tr>
</table>
