<h2>Reporter output</h2><table><tr><td>Normal login has executed sucessfully....</td></tr>
<tr><td>Login with Google testcase has been executed successfully...</td></tr>
<tr><td>Login with Facebook testcase has been executed successfully...</td></tr>
<tr><td>Login with Google testcase has been executed successfully...</td></tr>
<tr><td>Normal login testcase has executed sucessfully....</td></tr>
<tr><td>Login with Facebook testcase has been executed successfully...</td></tr>
<tr><td>Sync with Fitbit device testcase has executed sucessfully....</td></tr>
<tr><td>Sync with Google Fit device testcase has executed sucessfully....</td></tr>
<tr><td>Sync with Misfit device testcase has executed sucessfully....</td></tr>
<tr><td>Sync with Strava device testcase has executed sucessfully....</td></tr>
<tr><td>Sync with Withings device testcase has executed sucessfully....</td></tr>
</table>