<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="98f367">  <td>20/11/11 19:59:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EnrollALiveSessionWithCreditOrDebitCard.openbrowser()[pri:0, instance:testcases.EnrollALiveSessionWithCreditOrDebitCard@4e50c791]">&gt;&gt;openbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@752684363</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>20/11/11 19:59:36</td>   <td>25461</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EnrollALiveSessionWithCreditOrDebitCard.enrollALiveSessionWithCreditOrDebitCardFunctionality(java.lang.String, java.lang.String)[pri:0, instance:testcases.EnrollALiveSessionWithCreditOrDebitCard@4e50c791]">enrollALiveSessionWithCreditOrDebitCardFunctionality</td> 
  <td>main@752684363</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>20/11/11 20:02:59</td>   <td>228304</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;EnrollALiveSessionWithCreditOrDebitCard.quitBrowser()[pri:0, instance:testcases.EnrollALiveSessionWithCreditOrDebitCard@4e50c791]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@752684363</td>   <td></td> </tr>
</table>
