<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d4b26b">  <td>20/11/07 18:12:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleLogin.googleLoginFunctionality(java.lang.String, java.lang.String)[pri:0, instance:testcases.GoogleLogin@fad74ee]">googleLoginFunctionality</td> 
  <td>main@394721749</td>   <td></td> </tr>
<tr bgcolor="d4b26b">  <td>20/11/07 18:12:29</td>   <td>-24619</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GoogleLogin.openBrowser()[pri:0, instance:testcases.GoogleLogin@fad74ee]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@394721749</td>   <td></td> </tr>
<tr bgcolor="e69ade">  <td>20/11/07 18:13:31</td>   <td>37375</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SyncWithGoogleFit.openBrowser()[pri:0, instance:testcases.SyncWithGoogleFit@1a1d6a08]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@394721749</td>   <td></td> </tr>
<tr bgcolor="6694f1">  <td>20/11/07 18:14:57</td>   <td>123368</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SyncWithStravaDevice.openBrowser()[pri:0, instance:testcases.SyncWithStravaDevice@37d31475]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@394721749</td>   <td></td> </tr>
<tr bgcolor="d4b26b">  <td>20/11/07 18:13:30</td>   <td>36685</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GoogleLogin.quitBrowser()[pri:0, instance:testcases.GoogleLogin@fad74ee]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@394721749</td>   <td></td> </tr>
<tr bgcolor="e69ade">  <td>20/11/07 18:14:56</td>   <td>122673</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SyncWithGoogleFit.quitBrowser()[pri:0, instance:testcases.SyncWithGoogleFit@1a1d6a08]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@394721749</td>   <td></td> </tr>
<tr bgcolor="6694f1">  <td>20/11/07 18:16:29</td>   <td>215043</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SyncWithStravaDevice.quitBrowser()[pri:0, instance:testcases.SyncWithStravaDevice@37d31475]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@394721749</td>   <td></td> </tr>
<tr bgcolor="e69ade">  <td>20/11/07 18:13:55</td>   <td>61601</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SyncWithGoogleFit.syncWithGoogleFitFunctionality(java.lang.String, java.lang.String)[pri:0, instance:testcases.SyncWithGoogleFit@1a1d6a08]">syncWithGoogleFitFunctionality</td> 
  <td>main@394721749</td>   <td></td> </tr>
<tr bgcolor="6694f1">  <td>20/11/07 18:15:22</td>   <td>148289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SyncWithStravaDevice.syncWithStravaFunctionality(java.lang.String, java.lang.String)[pri:0, instance:testcases.SyncWithStravaDevice@37d31475]">syncWithStravaFunctionality</td> 
  <td>main@394721749</td>   <td></td> </tr>
</table>
