<h2>Reporter output</h2><table><tr><td>Login with Google testcase has been executed successfully...</td></tr>
<tr><td>Sync with Google Fit device testcase has executed sucessfully....</td></tr>
<tr><td>Sync with Strava device testcase has executed sucessfully....</td></tr>
</table>