<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6694f1">  <td>20/10/29 21:46:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.openbrowser()[pri:0, instance:testcases.Login@fad74ee]">&gt;&gt;openbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1414147750</td>   <td></td> </tr>
<tr bgcolor="6694f1">  <td>20/10/29 21:47:21</td>   <td>31574</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.loginFunctionality(java.lang.String, java.lang.String)[pri:0, instance:testcases.Login@fad74ee]">loginFunctionality</td> 
  <td>main@1414147750</td>   <td></td> </tr>
<tr bgcolor="6694f1">  <td>20/10/29 21:48:03</td>   <td>74167</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Login.quitBrowser()[pri:0, instance:testcases.Login@fad74ee]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1414147750</td>   <td></td> </tr>
</table>
