<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f47cb6">  <td>20/10/29 16:50:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.loginFunctionality(java.lang.String, java.lang.String)[pri:0, instance:testcases.Login@b0f781f]">loginFunctionality</td> 
  <td>Test worker@1090855921</td>   <td></td> </tr>
<tr bgcolor="f47cb6">  <td>20/10/29 16:50:17</td>   <td>-24850</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.openbrowser()[pri:0, instance:testcases.Login@b0f781f]">&gt;&gt;openbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@1090855921</td>   <td></td> </tr>
<tr bgcolor="f47cb6">  <td>20/10/29 16:50:59</td>   <td>16879</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Login.quitBrowser()[pri:0, instance:testcases.Login@b0f781f]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@1090855921</td>   <td></td> </tr>
</table>
